@font-face{
    font-family:Yekan;font-style:normal;font-weight:700;
    src:url(YekanWebbold.eot);
    src:url(YekanWebbold.eot?#iefix) format("embedded-opentype"),
        url(YekanWebbold.woff2) format("woff2"),
        url(YekanWebbold.woff) format("woff"),
        url(YekanWebbold.ttf) format("truetype")}

@font-face{font-family:Yekan;font-style:normal;font-weight:300;
    src:url(YekanWebLight.eot);
    src:url(YekanWebLight.eot?#iefix) format("embedded-opentype"),
        url(YekanWebLight.woff2) format("woff2"),
        url(YekanWebLight.woff) format("woff"),
        url(YekanWebLight.ttf) format("truetype")}

@font-face{font-family:Yekan;font-style:normal;font-weight:400;
    src:url(YekanWebRegular.eot);
    src:url(YekanWebRegular.eot?#iefix) format("embedded-opentype"),
        url(YekanWebRegular.woff2) format("woff2"),
        url(YekanWebRegular.woff) format("woff"),
        url(YekanWebRegular.ttf) format("truetype")
}
